.row
    .col-md-4.col-md-offset-4
        .thumbnail
            .caption
                h3 Tell me your name!
                p
                    input#your-name.form-control
                p
                    button#say-hello.btn.btn-success Say Hello!
                h3#hello-you